body {
  text-align: center;
  background: radial-gradient(white, black);
  height: 100vh;
}
p {
  margin: 4em;
}

.drum-pad {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
  animation: 5s infinite alternate fade;
}

#drum-container div:hover {
  color: white;
}

#drum-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 30.4em;
  border: 2px solid black;

}

#drum-machine {
  padding-top: 5%;
  width: 30em;
  margin: auto;
}

@keyframes fade {
  from {
    background-color: transparent;
    color: black;
    border: 1px solid black;
  }
  to {
    background-color: rgba(3,0,3,.6);
    color: white;
    border: 1px solid white;
  }
}
