* {
  text-align: center;
}
p {
  margin: 3em;
}

.drum-pad {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  cursor: pointer;
}

.drum-pad:hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, blue;
  transition-property: color, blue;
}

#drum-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 6em;
}

#drum-machine {
  padding-top: 5%;
  width: 30em;
  margin: auto;
}
