* {
  text-align: center;
}
p {
  margin: 4em;
}

.drum-pad {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  cursor: pointer;
}

#drum-container div:hover {
  background-color: black;
  color: magenta;
}

#drum-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 6em;
}

#drum-machine {
  padding-top: 5%;
  width: 30em;
  margin: auto;
}
